.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__icon.MuiSvgIcon-root {
    font-size: 2.3rem;
    color: #1e2251;
  }
}

.friend-info {
  display: flex;
  width: 35%;

  &__avatar.MuiAvatar-root {
    width: 50px;
    height: 50px;
  }
}

.friend-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;

  &__name {
    font-weight: 560;
    color: #1e2251;
    text-align: left;
    width: 100%;
    margin: 5px;
  }

  &__faculty {
    text-align: left;
    width: 100%;
  }
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10%;
  min-width: 100px;
}

.friend-status {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.connect-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hr2 {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.3);
}