<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <h1>Microsoft Identity Python Web App</h1>

    <li><a href='{{ auth_url }}'>Sign In</a></li>

    {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
    <li><a href='{{_build_auth_url(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])}}'>Reset Password</a></li>
    {% endif %}
    <p> test test test test test test </p>
    <hr>
    <footer class="test" style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

