.landing-page {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 100px;
  width: 100%;

  .landing-description {
    margin-top: auto;
    margin-bottom: auto
  }

  &__header {
    font-size: 3.3rem;
    color: #AC6661;

  }

  &__subheader {
    font-size: 70px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .microsoft-btn {
    border: none;
    background: none;
    cursor: pointer;
  }

  .landing-image {
    margin-top: 10px;
  }
}

.landing-page-flex {
  display: flex;
  justify-content: space-evenly;
}